html    
    head
        meta(charset='utf8')
        meta(
            name='viewport'
            content='width=device-width, initial-scale=1.0'
        )
        link(
            rel='stylesheet'
            href='../../css/reset.css'
        )
        link(
            rel="shortcut icon"
            href="../../images/favicon.ico"
            type="image/x-icon"
            )
        link(
            rel='stylesheet'
            href='../../css/admin/admin.css'
        )  
        title Admin panel
    body
        div(class="wrapper")
            h1(class="fail_title")
        script. 
                let h = document.querySelector('.fail_title');
                let count = 60;

                setInterval(function() {
                        h.innerHTML = `Redirect after ${count} sec`;
                        count--;
                    }, 1000);

                setTimeout(function() {
                    window.location.replace('/api/admin-page/login')
                }, 61000);
            