div(class="cart")
    a(href="/goods?id="+val['id'])
        div(class="cart-content")
            img(
                src='images/goods-img'+val['image'],
                class="cart-img",
                alt="Фото данного товара отсутствует"
                )
            div(class='cart-product-availability')
                if val['availability'] == true           
                    div(class="cart-available") Есть в наличии &#10004;
                if val['availability'] == false          
                    div(class="cart-available" style="color: red") Нет в наличии &#10008;
            p(class="cart-name") #{val['name']}
    div(class="to-cart-block")
        div(class="cart-price") #{val['cost']} грн
        div(class="to-cart-buttons")
            div(class="to-cart product_btn-add" data-goods_id=val['id'])
                img(src="./images/add-to-cart-icon.svg", alt="")
            div(class="to-cart product_btn-heart pbh" data-goods_heart_id=val['id'])
                img(src="./images/add-to-heart-icon.svg", alt="")
            
            