html    
    head
        include header-links
        link(
            rel='stylesheet'
            href='css/cart.css'
            )
        link(
            rel='stylesheet'
            href='css/index.css'
            )
        link(
            rel="stylesheet"
            href="css/favorite.css"
            )
    body
        div(class="wrap")
            div(class="under-header")
            include header-nav
            div(class='favorite__block')
                div(class='inner_heart-container')
                    div(class='favorite__header') Избранное
                    div(id='inner__heart-content')
                    
            include footer
